$textcolor: #E5FDCE;
$hovercolor: #1bbd32;
$bgcolor: #104a0d;
$accentcolor: #45871b;
$needcolor:  #fff;
$bghoverCol: rgb(128 128 128);
$discuss1bgColor: #d9efe3;
$darkbrown: rgb(102, 77, 31);
$smacolor: #bad6c7f1;
$smmcolor: #94a0b3;
$smadcolor: #e2cace;