.discuss2 .division .smad, .discuss2 .division .smm, .discuss2 .division .sma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 4px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  padding: 0.6rem 3rem;
  background-color: #104a0d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 3px #E5FDCE;
}
@media (max-width: 576px) {
  nav {
    padding: 0.6rem 1rem;
  }
}
nav .logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #E5FDCE;
  color: #fff;
  opacity: 1;
}
@media (max-width: 576px) {
  nav .logo img {
    height: 40px;
    width: 40px;
  }
}
nav .links ul {
  display: flex;
  padding-left: 1.5rem;
  list-style: none;
  justify-content: space-between;
  font-size: 1.2rem;
}
@media (max-width: 576px) {
  nav .links ul {
    text-align: center;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
}
nav .links ul a {
  text-decoration: none;
  padding-left: 2rem;
  color: #E5FDCE;
}
nav .links ul a:hover {
  color: #104a0d;
  padding: 0.6rem 0.8rem;
  background-color: #E5FDCE;
  border: 1px solid #104a0d;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

main {
  position: relative;
  width: 100%;
  height: 90vh;
  background: #F2F2F2 center/cover url(firstimg.jpeg) no-repeat;
  top: 0;
  left: 0;
}
main .left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  main .left {
    width: 100%;
  }
}
main .left h1 {
  width: 50%;
  font-size: 4.2rem;
  margin-bottom: 2.5rem;
  color: #104a0d;
}
main .left p {
  margin-bottom: 4rem;
  padding-left: 2rem;
  width: 60%;
  color: rgb(128, 128, 128);
}
@media (max-width: 576px) {
  main .left p {
    color: rgb(102, 77, 31);
    font-weight: 700;
  }
}
main .left a {
  text-decoration: none;
  color: rgb(128, 128, 128);
  background-color: #E5FDCE;
  padding: 1em 3rem;
  border: 2px solid #104a0d;
  border-radius: 10px;
}
main .left a:hover {
  color: #104a0d;
  border: 1.5px dotted #45871b;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.discuss1 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #d9efe3;
  margin: 9rem;
}
@media (max-width: 576px) {
  .discuss1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1rem;
    margin: 0 auto;
  }
}
.discuss1 .left {
  display: block;
  margin: 0 auto;
  padding: 40px 20px;
}
.discuss1 .left img {
  height: 380px;
  width: 380px;
}
@media (max-width: 576px) {
  .discuss1 .left img {
    width: 300px;
    height: 300px;
  }
}
.discuss1 .right {
  display: flex;
  flex-direction: column;
  width: 60%;
}
@media (max-width: 576px) {
  .discuss1 .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.discuss1 .right h1 {
  padding-bottom: 1rem;
  font-size: 3rem;
  color: #104a0d;
}
@media (max-width: 576px) {
  .discuss1 .right h1 {
    text-align: left;
    width: 70%;
    font-size: 2.5rem;
  }
}
.discuss1 .right p {
  padding-bottom: 2rem;
  font-weight: 400;
  width: 78%;
  color: rgb(102, 77, 31);
}
.discuss1 .right a {
  text-decoration: none;
  color: rgb(128, 128, 128);
  background-color: #E5FDCE;
  padding: 0.8em 1.6rem;
  border: 2px solid #104a0d;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .discuss1 .right a {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
}
.discuss1 .right a:hover {
  color: #104a0d;
  border: 1.5px dotted #45871b;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.discuss2 {
  display: flex;
  margin: 2rem 9rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .discuss2 {
    display: grid;
    margin: 0rem;
    justify-content: center;
    align-items: center;
  }
}
.discuss2 h2 {
  font-size: 3rem;
  color: #104a0d;
  padding-bottom: 0.5rem;
}
@media (max-width: 576px) {
  .discuss2 h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    line-height: 2.5rem;
    padding: 1.5rem;
  }
}
.discuss2 h4 {
  font-size: 1.2rem;
  color: rgb(102, 77, 31);
  padding-bottom: 0.5rem;
}
@media (max-width: 576px) {
  .discuss2 h4 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
}
.discuss2 .division {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 576px) {
  .discuss2 .division {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
.discuss2 .division .sma {
  background-color: rgba(186, 214, 199, 0.9450980392);
}
.discuss2 .division .sma h4 {
  font-size: 1.5rem;
  padding: 1.5rem;
}
.discuss2 .division .sma p {
  font-size: 1.2rem;
  font-weight: 300;
  width: 90%;
  padding-bottom: 1rem;
}
.discuss2 .division .smm {
  background-color: #94a0b3;
}
.discuss2 .division .smm h4 {
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 70%;
}
.discuss2 .division .smm p {
  font-size: 1.2rem;
  font-weight: 300;
  width: 90%;
  padding-bottom: 1rem;
}
.discuss2 .division .smad {
  background-color: #e2cace;
}
.discuss2 .division .smad h4 {
  font-size: 1.5rem;
  padding: 1.5rem;
}
.discuss2 .division .smad p {
  font-size: 1.2rem;
  font-weight: 300;
  width: 90%;
  padding-bottom: 1rem;
}

footer {
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  background-color: #d9efe3;
  font-size: 1.2rem;
}/*# sourceMappingURL=main.css.map */